install:
  - choco install gitversion.portable -pre -y

assembly_info:
  patch: false

before_build:
  - dotnet restore
  - nuget restore
  - ps: gitversion /l console /output buildserver /updateAssemblyInfo

build_script:
  - cmd: msbuild /p:AssemblyVersion=%GitVersion_AssemblySemVer% /p:Version=%GitVersion_InformationalVersion%  /p:FileVersion=%GitVersion_AssemblySemVer%  --configuration release --no-restore

after_build:
  - cmd: nuget pack .nuget/WorkflowState.nuspec -version "%GitVersion_NuGetVersion%" -prop "target=%CONFIGURATION%"

test_script:
  - cmd: dotnet test src/WorkflowState.Tests/WorkflowState.Tests.csproj --configuration release

deploy:
  - provider: NuGet
    api_key:
      secure: DiBe9NHNckgVo/QjZqlPU4OUYQ5YtuF8w9GpQzQkgj5Nio+ElpZGQdj6V4EENyJa
    skip_symbols: true

artifacts:
  - path: '*.nupkg'
    name: WorkflowState
